.root {
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 100%,
            #090909 0%,
            #244168 50%,
            #010817 100%
    );
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: #6e6e6e;
    -fx-padding: 8;
    -fx-min-width: 160;
    -fx-min-height: 39;
    -fx-background-color: white;
    -fx-font-weight: bold;
}

.label.title {
    -fx-font-size: 48px;
    -fx-text-fill: #223e63;
    -fx-font-weight: normal;
}

.label.message {
    -fx-text-fill: #575757;
    -fx-background-color: #dadada;
}

.label.error {
    -fx-text-fill: #dd3030;
    -fx-font-weight: normal;
}

.button {
    -fx-background-color: #4da5f6;
    -fx-border-color: #1e90ff;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #ffffff;
    -fx-font-size: 24px;
}

.text-field {
    -fx-pref-width: 250px;
    -fx-background-color: white;
    -fx-border-color: #636363;
    -fx-background-radius: 5;
    -fx-min-height: 39;
}

.container{

}