.root {
 -fx-background-color: linear-gradient(
         from 0% 0% to 100% 100%,
         #090909 0%,
         #244168 50%,
         #010817 100%
 );
}

.btnContainer{
 -fx-background-color: #ffffff;
}

.h1{
 -fx-font-weight: bold;
 -fx-font-size: 24pt;
 -fx-effect: dropshadow(gaussian, rgb(168, 168, 168), 2, 0, 1, 1);
}

.h1_White{
 -fx-text-fill: #e6e6e6;
 -fx-font-weight: bold;
 -fx-font-size: 24pt;
 -fx-effect: dropshadow(gaussian, rgb(168, 168, 168), 2, 0, 1, 1);
}

.h2{
 -fx-font-size: 16pt;
}

.h3{
 -fx-font-size: 14pt;
}

.data{
 -fx-font-size: 15pt;
 -fx-font-weight: bold;
}

.points{
 -fx-font-weight: bold;
 -fx-font-size: 64pt;
 -fx-effect: dropshadow(gaussian, rgb(168, 168, 168), 2, 0, 1, 1);
}

.button {
 -fx-background-color: #656565;
 -fx-text-fill: #ffffff;
 -fx-font-size: 10pt;
 -fx-font-weight: bold;
 -fx-border-color: #707070;
 -fx-border-width: 2;
 -fx-border-radius: 4;
 -fx-background-radius: 4;
 -fx-background-insets: 1;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 2, 2);
 -fx-cursor: hand;
}

.smallBtn {
 -fx-min-width: 32pt;
 -fx-max-width: 32pt;
 -fx-min-height: 32pt;
 -fx-max-height: 32pt;
}

.button:pressed {
 -fx-border-color: #ffffff;
 -fx-translate-y: 4;
 -fx-translate-x: 2;
 -fx-transition: all 0.2s ease-in-out;
}

.startBtn{
 -fx-background-color: #63bd6a;
}

.startBtn:hover{
 -fx-background-color: #67c86d;
}

.greenBtn{
 -fx-background-color: #b6b7b8;
}
.greenBtn:hover{
 -fx-background-color: #cdcdcd;
}

.redBtn{
 -fx-background-color: #bd6363;
}
.redBtn:hover{
 -fx-background-color: #e17272;
}

.itemContainer{
 -fx-background-color: #ffffff;
 -fx-border-color: #ffffff;
 -fx-border-width: 1;
 -fx-border-radius: 8;
 -fx-background-radius: 8;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 2, 2);
 -fx-cursor: hand;
}

.whiteBorderContainer{
 -fx-background-color: rgba(205, 205, 205, 0.86);
 -fx-border-width: 4px;
 -fx-border-radius: 8;
}

.rootContainer{
 -fx-background-color: #e9e9e9;
 -fx-border-color: #878787;
 -fx-border-width: 2;
 -fx-border-radius: 4;
 -fx-background-radius: 4;
 -fx-background-insets: 1;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.5, -2, -2);
}

.exitContainer{
 -fx-background-color: #ffffff;
 -fx-border-color: #ffffff;
 -fx-border-width: 2;
 -fx-border-radius: 4;
 -fx-background-radius: 4;
 -fx-background-insets: 1;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.5, -2, -2);
}

.imageContainer{
 -fx-background-color: linear-gradient(
         from 0% 0% to 100% 100%,
         #090909 0%,
         #244168 50%,
         #010817 100%
 ); -fx-border-color: #ffffff;
 -fx-border-width: 2;
 -fx-border-radius: 4;
 -fx-background-radius: 4;
 -fx-background-insets: 1;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.5, -2, -2);
}

.transparentContainer{
 -fx-background-color: transparent;
}

.table-view {
 -fx-background-color: white;
 -fx-border-color: black;
 -fx-border-width: 2;
 -fx-table-cell-border-color: black;
 -fx-padding: 0;
}

.root {
 -fx-background-color: linear-gradient(
         from 0% 0% to 100% 100%,
         #090909 0%,
         #244168 50%,
         #010817 100%
 );
}

.label {
 -fx-font-size: 12px;
 -fx-text-fill: #6e6e6e;
 -fx-padding: 8;
 -fx-min-width: 160;
 -fx-min-height: 39;
 -fx-background-color: white;
 -fx-font-weight: bold;
}

.label.default {
 -fx-text-fill: #ffffff;
 -fx-background-color: transparent;
}

.label.title {
 -fx-background-color: transparent;
 -fx-min-height: 95;
 -fx-font-size: 48px;
 -fx-text-fill: #223e63;
 -fx-font-weight: normal;
}

.label.message {
 -fx-text-fill: #575757;
 -fx-background-color: #dadada;
}

.label.error {
 -fx-text-fill: #dd3030;
 -fx-font-weight: normal;
}

.buttonLogin {
 -fx-background-color: #4da5f6;
 -fx-border-color: #1e90ff;
 -fx-border-radius: 5;
 -fx-background-radius: 5;
 -fx-text-fill: #ffffff;
 -fx-font-size: 24px;
}
.smallBtn {
 -fx-font-size: 12px;
}

.text-field {
 -fx-pref-width: 250px;
 -fx-background-color: white;
 -fx-border-color: #636363;
 -fx-background-radius: 5;
 -fx-min-height: 39;
}

.container{

}

