.root {
 -fx-background-color: linear-gradient(
         from 0% 0% to 100% 100%,
         #090909 0%,
         #244168 50%,
         #010817 100%
 );
}

.btnContainer{
 -fx-background-color: #ffffff;
}

.h1{
 -fx-font-weight: bold;
 -fx-font-size: 24pt;
 -fx-effect: dropshadow(gaussian, rgb(168, 168, 168), 2, 0, 1, 1);
}

.h1_White{
 -fx-text-fill: #e6e6e6;
 -fx-font-weight: bold;
 -fx-font-size: 24pt;
 -fx-effect: dropshadow(gaussian, rgb(168, 168, 168), 2, 0, 1, 1);
}

.h2{
 -fx-font-size: 16pt;
}

.h3{
 -fx-font-size: 14pt;
}

.data{
 -fx-font-size: 15pt;
 -fx-font-weight: bold;
}

.points{
 -fx-font-weight: bold;
 -fx-font-size: 64pt;
 -fx-effect: dropshadow(gaussian, rgb(168, 168, 168), 2, 0, 1, 1);
}

.button {
 -fx-background-color: #ffffff;

 -fx-text-fill: #ffffff;
 -fx-font-size: 10pt;
 -fx-font-weight: bold;
 -fx-border-color: #707070;
 -fx-border-width: 2;
 -fx-border-radius: 4;
 -fx-background-radius: 4;
 -fx-background-insets: 1;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 2, 2);
 -fx-cursor: hand;
}

.smallBtn {
 -fx-min-width: 32pt;
 -fx-max-width: 32pt;
 -fx-min-height: 32pt;
 -fx-max-height: 32pt;
}

.button:hover{
 -fx-font-size: 14;
}

.button:pressed {
 -fx-border-color: #ffffff;
 -fx-translate-y: 4;
 -fx-translate-x: 2;
 -fx-transition: all 0.2s ease-in-out;
}

.startBtn{
 -fx-background-color: #63bd6a;
}

.startBtn:hover{
 -fx-background-color: #67c86d;
}

.greenBtn{
 -fx-background-color: #b6b7b8;
}
.greenBtn:hover{
 -fx-background-color: #cdcdcd;
}

.redBtn{
 -fx-background-color: #bd6363;
}
.redBtn:hover{
 -fx-background-color: #e17272;
}

.itemContainer{
 -fx-background-color: #ffffff;
 -fx-border-color: #ffffff;
 -fx-border-width: 1;
 -fx-border-radius: 8;
 -fx-background-radius: 8;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0, 2, 2);
 -fx-cursor: hand;
}

.whiteBorderContainer{
 -fx-background-color: rgba(205, 205, 205, 0.86);
 -fx-border-width: 4px;
 -fx-border-radius: 8;
}

.rootContainer{
 -fx-background-color: #e9e9e9;
 -fx-border-color: #878787;
 -fx-border-width: 2;
 -fx-border-radius: 4;
 -fx-background-radius: 4;
 -fx-background-insets: 1;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.5, -2, -2);
}

.exitContainer{
 -fx-background-color: #ffffff;
 -fx-border-color: #ffffff;
 -fx-border-width: 2;
 -fx-border-radius: 4;
 -fx-background-radius: 4;
 -fx-background-insets: 1;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.5, -2, -2);
}

.imageContainer{
 -fx-background-color: linear-gradient(
         from 0% 0% to 100% 100%,
         #090909 0%,
         #244168 50%,
         #010817 100%
 ); -fx-border-color: #ffffff;
 -fx-border-width: 2;
 -fx-border-radius: 4;
 -fx-background-radius: 4;
 -fx-background-insets: 1;
 -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 8, 0.5, -2, -2);
}

.transparentContainer{
 -fx-background-color: transparent;
}

.table-view {
 -fx-background-color: white;
 -fx-border-color: black;
 -fx-border-width: 2;
 -fx-table-cell-border-color: black;
 -fx-padding: 0;
}

